/* VARIABLES */
:root {
  /* Colors */
  --bg-cta: hsl(273, 75%, 62%);
  --bg-cta-hover: hsl(273, 77%, 60%);
  --border: #b295ff;
  /* Background colors */
  --bg-body-dark: #1c1c1c;
  --bg-results-card-dark: #f4f4f4;
  --bg-body-light: #f4f4f4;
  --bg-results-card-light: #273549;
  /* Text colors */
  --txt-dark: #fff;
  --txt-results-header-dark: #5a537b;
  --txt-data-dark: #353535;
  --txt-light: #1c1c1c;
  --txt-results-header-light: #ccc1ff;
  --txt-data-light: #fff;
  /* Other variables */
  --radius-soft: 5px;
  --radius-results: 25px 0;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 25px;
  --spacing-l: 35px;
  --spacing-xl: 70px;
  --spacing-xxl: 128px;
  --transition-quick: all 0.2s;
  --box-shadow-btn: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* GENERAL SETUP */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

/* UTILITY CLASSES */
.fully-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

/* CARD CONTAINER  */
.card__container {
  width: 550px;
  gap: var(--spacing-xl);
}

/* CARD HEADER  */
.card__title {
  font-size: 1.75rem;
  letter-spacing: -0.84px;
  line-height: 1.35;
  font-weight: 800;
}

/* CARD MAIN  */
.card__main {
  gap: var(--spacing-l);
}

/* CARD OPTIONS SECTION  */
.card__title,
.number-input {
  font-weight: 800;
}

.card__options,
.card__results {
  padding: var(--spacing-s);
  gap: var(--spacing-l);
}

/* CARD INPUT  */
.card__input {
  position: relative;
}

.number-input {
  width: 100%;
  font-size: 3.625rem;
  border: 2px solid var(--border);
  border-radius: var(--radius-soft);
  background: transparent;
  text-align: right;
}

.number-input,
.number-label {
  padding: var(--spacing-xs);
}

.number-label {
  position: absolute;
  left: 0;
  top: 0;
  transition: var(--transition-quick);
}

.number-label--float {
  top: -30px;
  font-size: 1rem;
  padding: 0;
}

/* Hides number input up & down arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

/* BUTTON STYLES  */
.btn {
  border: none;
  padding: var(--spacing-s) var(--spacing-l);
  background: var(--bg-cta);
  color: var(--txt-dark);
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  transition: var(--transition-quick);
  box-shadow: var(--box-shadow-btn);
  border-radius: var(--radius-soft);
}

.btn:hover {
  background: var(--bg-cta-hover);
}

/* CARD RESULTS  */
.results__card {
  display: none;
  min-height: 100px;
  width: 100%;
  padding: var(--spacing-xs);
  border-radius: var(--radius-results);
}

.results__card-ani {
  display: flex;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.results__card-ani:nth-child(2) {
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.results__h2 {
  font-size: 1.25rem;
}

.results__data {
  font-size: 1rem;
  line-height: 1.43;
}

/* LIGHT MODE  */
.light-mode {
  background: var(--bg-body-light);
  color: var(--txt-light);
}

.light-mode .results__card {
  background: var(--bg-results-card-light);
  color: var(--txt-data-light);
}

.light-mode .results__h2 {
  color: var(--txt-results-header-light);
}

/* DARK MODE  */
.dark-mode {
  background: var(--bg-body-dark);
  color: var(--txt-dark);
}

.dark-mode .number-input {
  color: var(--txt-dark);
}

.dark-mode .results__card {
  background: var(--bg-results-card-dark);
  color: var(--txt-data-dark);
}

.dark-mode .results__h2 {
  color: var(--txt-results-header-dark);
}

/* MEDIA QUERIES  */
@media screen and (max-width: 500px) {
  body {
    height: auto;
    padding: var(--spacing-l) 0;
  }
  .btn {
    width: 100%;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
