/* VARIABLES */
:root {
  /* Background colors - general */
  --bg-main: #1c1c1c;
  --bg-input: #6943ff;
  --bg-cta: hsl(72, 100%, 63%);
  --bg-cta-hover: var(--bg-main);
  /* Background colors - light mode  */
  --bg-results-light: #f4f4f4;
  --bg-card-light: #fff;
  /* Background colors - dark mode  */
  --bg-results-dark: #1f2937;
  --bg-card-dark: #273549;
  /* Border colors  */
  --border: #b295ff;
  /* Text colors -general */
  --txt-light: #fff;
  --txt-btn: #3d3d3d;
  /* Text colors - light mode  */
  --txt-results-header-light: #5a537b;
  --txt-data-light: #353535;
  /* Text colors - dark mode  */
  --txt-results-header-dark: #ccc1ff;
  --txt-data-dark: #fff;
  /* Radius  */
  --radius-soft: 5px;
  --radius-results: 4.681px 0px 0px 0px;
  /* Spacing  */
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 56px;
  --spacing-xl: 128px;
  /* Transitions */
  --transition-quick: all 0.2s;
  /* Box shadows */
  --box-shadow-btn: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

/* GENERAL SETUP */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-main);
  font-family: "Inter", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.84px;
}

/* UTILITY  */
.fully-flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

/* CARD CONTAINER  */
.card__container {
  margin: var(--spacing-xl) var(--spacing-l);
  background: var(--bg-input);
  border-radius: var(--radius-soft);
}

/* CARD INPUT  */
.card__input {
  padding: var(--spacing-m) var(--spacing-l);
  color: var(--txt-light);
}

.card__title {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.35;
}

.input-el {
  width: 117px;
  height: 83px;
  margin: var(--spacing-m) 0;
  font-size: 3.625rem;
  font-weight: 800;
  border: 2px solid var(--border);
  border-radius: var(--radius-soft);
  background: transparent;
  text-align: center;
  color: var(--txt-light);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none; /* Hides input up & down arrows */
}

.btn {
  border: none;
  border-radius: var(--radius-soft);
  padding: var(--spacing-s) var(--spacing-l);
  background: var(--bg-cta);
  font-weight: 700;
  color: #111;
  cursor: pointer;
  transition: var(--transition-quick);
  box-shadow: var(--box-shadow-btn);
}

.btn:hover {
  background: var(--bg-cta-hover);
  color: var(--txt-light);
}

/* CARD RESULTS  */
.card__results {
  padding: var(--spacing-m) 24px;
  gap: var(--spacing-m);
}

.results__card {
  width: 500px;
  height: 108px;
  border-radius: var(--radius-results);
  gap: var(--spacing-xs);
}

.results-h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.results-data {
  font-size: 0.875rem;
  line-height: 1.43;
}

/* LIGHT MODE  */
.light-mode .card__results {
  background: var(--bg-results-light);
}

.light-mode .results__card {
  background: var(--bg-card-light);
}

.light-mode .results-h2 {
  color: var(--txt-results-header-light);
}

.light-mode .results-data {
  color: var(--txt-data-light);
}

/* DARK MODE  */
.dark-mode .card__results {
  background: var(--bg-results-dark);
}

.dark-mode .results__card {
  background: var(--bg-card-dark);
}

.dark-mode .results-h2 {
  color: var(--txt-results-header-dark);
}

.dark-mode .results-data {
  color: var(--txt-light);
}
